body{
    padding: 10px;
}
.container{
    /*width: 600px;*/
    min-width: 500px;
    width: auto;
    max-width: 800px;
    max-height: 200;
    overflow: visible;
    padding-bottom: 10px;
}
.ui.hosts.menu .item{
    padding: 5px 10px;
    margin: 5px 0px;
}

.ui.menu .item>img:not(.ui){
    width: inherit;
}

.ui.list>.item .header{
    display: inline;
}

.item > .content > img{
    vertical-align: middle;
}

.ui.menu .item>.floating.label {
    background: none !important;
    color: green !important;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}